<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>カート追加</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <div th:replace="~{header :: header}"></div>

  <div class="container">
    <h1>カート追加画面</h1>

    <div th:each="item : ${cartItems}" class="cart-added-layout">
      <img th:src="${item.product.imgPath}" class="cart-added-img">
      <div>
        <p th:text="'商品名：' + ${item.product.productName}"></p>
        <p th:text="'個数：' + ${item.quantity}"></p>
        <p th:text="'カート内の合計：¥' + ${item.product.taxPrice * item.quantity}"></p>
      </div>
    </div>

    <div class="cart-added-buttons">
      <a class="btn" th:href="@{/order}">レジに進む</a>
      <a class="btn" th:href="@{/cart}">カートに移動</a>
      <a class="btn" th:href="@{/top}">TOP画面に戻る</a>
    </div>
  </div>

  <div th:replace="~{footer :: footer}"></div>

</body>
</html>