<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>購入確認</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <div th:replace="~{header :: header}"></div>

  <div class="container" style="max-width: 600px;">
    <h1>購入確認画面</h1>

    <p>名前：<span th:text="${recipientName}"></span></p>
    <p>住所：<span th:text="${address}"></span></p>
    <p>アパート名：<span th:text="${apartmentName}"></span></p>

    <div th:each="item : ${cartItems}">
      <p th:text="'商品名：' + ${item.product.productName}"></p>
      <p th:text="'個数：' + ${item.quantity}"></p>
      <p th:text="'合計金額：¥' + ${item.product.taxPrice * item.quantity}"></p>
    </div>

    <form th:action="@{/order/complete}" method="post">
      <input type="hidden" name="recipientName" th:value="${recipientName}">
      <input type="hidden" name="address" th:value="${address}">
      <input type="hidden" name="apartmentName" th:value="${apartmentName}">
      <input type="hidden" name="paymentMethod" th:value="${paymentMethod}">
      <div class="login-buttons">
        <a class="btn btn-red" th:href="@{/order}">編集</a>
        <button class="btn" type="submit">購入</button>
      </div>
    </form>
  </div>

  <div th:replace="~{footer :: footer}"></div>

</body>
</html>