<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入商品詳細</title>
<link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
	
    <div th:replace="~{header :: header}"></div>
    <div class="container">
    <h1>購入商品詳細</h1>

	<!-- 購入する商品の確認 -->
        <p>商品名：<span th:text="${product.productName}"></span></p>
		<p>数量：<span th:text="${quantity}"></span></p>
	<!-- 住所入力フォーム -->
		<form th:action="@{/order/single/confirm}" method="post">
		      <input type="hidden" name="productId" th:value="${product.productId}">
		      <input type="hidden" name="quantity" th:value="${quantity}">
		      <div class="form-group">
		        <label>お届け先住所</label>
		        <input type="text" name="address" placeholder="住所を入力してください">
		      </div>
		      <button class="btn" type="submit">確認</button>
		</form>

		    <a class="btn" th:href="@{/products/{id}(id=${product.productId})}">商品詳細に戻る</a>
		  </div>
</body>
</html>