<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>新規登録</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <div class="container" style="max-width: 500px;">
    <h1>ユーザー新規登録画面</h1>

    <p class="error" th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <form th:action="@{/register}" method="post" th:object="${user}">
      <div class="form-group">
        <label>ユーザ名</label>
        <input type="text" th:field="*{userName}">
        <p class="error" th:if="${#fields.hasErrors('userName')}"
           th:errors="*{userName}"></p>
      </div>
      <div class="form-group">
        <label>メールアドレス</label>
        <input type="email" th:field="*{email}">
        <p class="error" th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}"></p>
      </div>
      <div class="form-group">
        <label>パスワード</label>
        <input type="password" name="password">
      </div>
      <div class="form-group">
        <label>パスワード（確認用）</label>
        <input type="password" name="passwordConfirm">
      </div>
      <div class="login-buttons">
        <button class="btn" type="submit">登録</button>
        <a class="btn btn-red" th:href="@{/login}">戻る</a>
      </div>
    </form>
  </div>

</body>
</html>